body{
  background-image: url("assets/Plaid\ 2010s\ pattern\ background.png");
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



h1{color:#b937c5;font-weight: 700;}
h2{color:#fa4d79;font-weight: 400;}